# System
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
*.pro.user

# Environment
.env
*.env

# Virtual environment
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*.pyc
*$py.class
*.egg-info/
.python-version

# C++
.clang-format
.clangd
.cache/

# ROS2
build/
install/
log/

# Docker
docker/config.sh

# Backup
*.*.backup
*_backup.txt

# Prettier
.prettierignore

# Calibration data
data/

# External repos (not submodules)
src/realsense-ros
src/OrbbecSDK_ROS2